.container{
    /* margin-top: 250px; */
    display: flex;
    justify-content: center;
}

.h1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 3rem;
    width:90%;
    margin-top:10rem;
     font-size: var(--fontsize-h1Text);
     font-weight: var(--fontweight-h1Text);
}

.innerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.headline{
    display: flex;
    justify-content: flex-end;
    /* width:90%; */
    margin-top: 5rem;
    /* margin-bottom: 5rem; */
    font-size: var(--fontsize-h2Text);
    font-weight: var(--fontweight-h3Text);
}

.text{
    display: flex;
    justify-content: flex-end;
    font-size: var(--fontsize-h5Text);
    font-weight: var(--fontweight-h4Text);
    color: var(--red);
}

.text .a{
    text-decoration: none;
    color: var(--red);
}

@media(max-width:399px){    }
@media(min-width:400px) and (max-width: 779px){
    .innerContainer{
        margin-top: 2rem;

    }   
    .h1{
    font-size: var(--fontsize-h4Text);
    font-weight: var(--fontweight-h3Text);
 }
.headline{
     margin-top: 1rem;
    font-size: var(--fontsize-h4Text);
    font-weight: var(--fontweight-h3Text);

}
.text{
    font-size: var(--fontsize-h5Text);
    font-weight: var(--fontweight-h4Text);
}
}
   
@media(min-width:780px)  and (max-width: 1079px){
.h1{
    font-size: var(--fontsize-h2Text);
    font-weight: var(--fontweight-h2Text);
 }
.headline{
    font-size: var(--fontsize-h3Text);
    font-weight: var(--fontweight-h3Text);

}
.text{
    font-size: var(--fontsize-h5Text);
    font-weight: var(--fontweight-h4Text);
}
}

@media(min-width:1080px)  and (max-width: 1399px){    }
@media(min-width:1400px)and (max-width: 1999px){}
@media(min-width:2000px){}