/* *a*   1. breakpoints besser definieren, 2. image-sizes*/


.apartmentCard{
    /*display: inline-block;*/
   
    position:relative;
   /* width:30.3%;*/
    padding: 1rem;
/*  bei größeren Auflösungen  width: calc(100% / 3); */
    aspect-ratio: 4 / 3;
   /* height:700px; */
   
    background-Color: var(--background-white);
}



.image{
   /* position: absolute;
    height: 10px; */
    position:relative; /* responsive image im Container*/
    height: calc(30vw );
    display:flex;
    justify-content: center;
    z-index:1;
   
}


.overlay{
    display: block;
    position: absolute;
    top:1em;
    right:0.125em;
    bottom:0.125em;
    left:1em;
    
}

.overlay .title{
    display: block;
    position: absolute;
    top: 1.2em;
    left: 0.3em;
    font-size: xx-large;
    font-weight: 900;
    color:black;
    z-index:2;
}

.backdrop{
    position: absolute;
    background-color: rgba(196, 196, 196, 0.2);
    border-radius: 10px;;
    height: 11em;
    width:calc(97%);
    z-index:1;

    
}
   
.description{
    position: absolute;
    top: 3.5em;
    left: 1em;

    font-weight: 300;
    font-size:x-large;
    color: #ffffff;
    z-index:1;
}
.prices{
    position: absolute;
    top: 6em;
    left: 1em;
    line-height: 0.125rem;
    font-weight: 200;
    font-size:large;
    color: #ffffff;
    z-index:1;
}


.buttonContainer{
    position:absolute;
    left:1em;
    display: flex;
    justify-content:flex-start;
    gap: 2em;    
    height: 3em;
    z-index: 1;
    bottom: 3em;
   
}
.buttonLeft{
    padding: 1rem;
    height:3em;
    z-index: 2;
    background-color: rgb(245, 245, 245);
    border:1px solid rgb(245, 245, 245);
    font-size: 20px;
     font-weight:bold
}

.buttonLeft:hover{

    background-color: rgb(245, 8, 8);
    border:1px solid rgb(245, 8, 8);
    color: rgb(245, 245, 245);
    transition: all 0.5s ease;


}



.buttonRight{
    padding: 1em;
    height:3em;
    border: 1px solid rgb(245, 245, 245);
    background-color: transparent;
    z-index: 2;
    color: rgb(245, 245, 245);
    font-size: 20px;
    font-weight:bold
}

.buttonRight:hover{

    border:1px solid rgb(245, 8, 8);
    color: rgb(245, 8, 8);
    transition: all 0.5s ease;

}

.buttonLeft::before{
    content: url('../../../../public/caret-right.webp');
} 
    
.buttonRight::before{
    content: url('../../../../public/caret-right.webp');
}

.buttonLeft:hover::before{
    content: url('../../../../public/caret-right-hover.webp');
} 
    
.buttonRight:hover::before{
    content: url('../../../../public/caret-right.webp');
}



@media(max-width:399px){    
    .image{
        position:relative; /* responsive image im Container*/
         height: calc(72vw );
               
     }
   
    .apartmentCard{
        display: inline-block;
        
         position:relative;
         width:100%;
        
             padding: 0;
     /*  bei größeren Auflösungen  width: calc(100% / 3); */
         
        /* height:700px; */
        
         background-Color: var(--background-white);
     }
     
     
     
     .image{
        position:relative; /* responsive image im Container*/
         height: calc(75vw );
               
     }
     
     
     .overlay{
         display: block;
         position: absolute;
         top:0.2em; 
         right:0.125em;
         bottom:0.125em;
         left:1em;
         
     }
     
     .overlay .title{
         top: 1.2em;
         left: 0.3em;
          }
     
     .backdrop{
        width:calc(99%);
               
     }
 
  
  }
  
  @media(min-width:400px) and (max-width: 779px){
    .image{
        position:relative; /* responsive image im Container*/
         height: calc(70vw );
               
     }

  }
  
  @media(min-width:780px) and (max-width: 1069px){    


    .apartmentCard{
         }     
        
     
     .image{
        position:relative; /* responsive image im Container*/
         height: calc(30vw );
               
     }
     
     
     .overlay{
         display: block;
         position: absolute;
         top:0.2em; 
         right:0.125em;
         bottom:0.125em;
         left:1em;
         
     }
     
     .overlay .title{
         top: 1.2em;
         left: 0.3em;
          }
     
     .backdrop{
        width:calc(99%);
               
     }
     .buttonLeft{
        padding: 1rem;
        height:2.5rem;
        font-size: 15px;
        font-weight:bold;
        
    }
    
        
    
    .buttonRight{
        padding: 1rem;
        height:2.5rem;
        font-size: 15px;
        font-weight:bold
    }
 
  }
  
  @media(min-width:1070px)  and (max-width: 1399px){
    
    .apartmentCard{
        margin:0.5rem;
        padding: 0;
        height: 20rem;
     /*  bei größeren Auflösungen  width: calc(100% / 3); */
         aspect-ratio: 4 / 3;
        /* height:700px; */
        
         background-Color: var(--background-white);
     }
     
     
     
     .image{
       
     }
     
     
     .overlay{
         display: block;
         position: absolute;
         top:0rem; 
         right:0.125rem;
         bottom:0.125rem;
         left:1rem;
         
     }
     
     .overlay .title{
         top: 1.2em;
         left: 0.3em;
          }
     
     .backdrop{
        width:calc(99%);
               
     }
        
     .buttonLeft{
        padding: 1rem;
        height:2.5rem;
        font-size: 15px;
        font-weight:bold;
        
    }
    
        
    
    .buttonRight{
        padding: 1rem;
        height:2.5rem;
        font-size: 15px;
        font-weight:bold
    }
    
  }
  

  @media(min-width:1400px)and (max-width: 1999px){
 
 
    
 
  }
  @media(min-width:2000px){
   
    
  }
  
   
 
     
     