/* *a*   1. breakpoints besser definieren, 2. image-sizes*/
/*
breakpoints: <400px;
400-779 - 1 Spalte;
780-1079 - 2 Spalten; 
1080-1399- 2 Spalten
1400-1999- 3 Spalten
>2000px

Animationen entfernt wegen Performance
*/



.apartmentCard{
    position:relative;
    padding: 1rem;
    background-Color: var(--background-dark);
    height: calc(30vw);
    /*background-color: red;*/
}



.image{
   /* position: absolute;
    height: 10px; */
    position:relative; /* responsive image im Container*/
    /*height: calc((100%/3)*4 );*/
    height: calc(33vw * (3/4));
    display:flex;
    justify-content: center;
    z-index:1;
   
}


.overlay{
    display: block;
    position: absolute;
    top:0.1em;
    height: calc(30vw);
    /*height: 321px; */
    right:0.125em;
    /*bottom:0.125em;*/
    left:0.1em;
    
}

.overlay .title{
    display: block;
    position: absolute;
    top: 1.2em;
    left: 1.6rem;
    font-size: xx-large;
    font-weight: 900;
    color:black;
    z-index:2;
}

.backdrop{
    position: absolute;
    background-color: rgba(196, 196, 196, 0.2);
    height: 11em;
    width: calc(100%);
    z-index:1;
  
}
   
.description{
    position: absolute;
    top: 3.5em;
    left: 1.6rem;

    font-weight: 300;
    font-size:x-large;
    color: #ffffff;
    z-index:1;
}
.prices{
    position: absolute;
    top: 6em;
    left: 1.6rem;
    line-height: 0.125rem;
    font-weight: 200;
    font-size:large;
    color: #ffffff;
    z-index:1;
}


.buttonContainer{
    position:absolute;
    left:1em;
    display: flex;
    justify-content:flex-start;
    gap: 2em;    
    height: 3em;
    z-index: 1;
    bottom: 3em;
   
}
.buttonLeft{
    padding: 1rem;
    height:3em;
    z-index: 2;
    background-color: rgb(245, 245, 245);
    border:1px solid rgb(245, 245, 245);
    font-size: 20px;
     font-weight:bold
}

.buttonLeft:hover{

    background-color: rgb(245, 8, 8);
    border:1px solid rgb(245, 8, 8);
    color: rgb(245, 245, 245);
    transition: all 0.5s ease;


}



.buttonRight{
    padding: 1em;
    height:3em;
    border: 1px solid rgb(245, 245, 245);
    background-color: transparent;
    z-index: 2;
    color: rgb(245, 245, 245);
    font-size: 20px;
    font-weight:bold
}

.buttonRight:hover{

    border:1px solid rgb(245, 8, 8);
    color: rgb(245, 8, 8);
    transition: all 0.5s ease;

}

.buttonLeft::before{
    content: url('../../../../public/caret-right.webp');
} 
    
.buttonRight::before{
    content: url('../../../../public/caret-right.webp');
}

.buttonLeft:hover::before{
    content: url('../../../../public/caret-right-hover.webp');
} 
    
.buttonRight:hover::before{
    content: url('../../../../public/caret-right.webp');
}



@media(max-width:399px){    
    
    .apartmentCard{
        width:calc(100vw);
        height: calc(100vw);
      } 
      .overlay{
        height: calc(100vw);
    } 
    
    .image{
        position:relative; /* responsive image im Container*/
        height: calc(72vw );
               
     }
   
     .overlay .title{
         top: 1.2em;
         left: 0.3em;
          }

          .buttonContainer{
            bottom: 0.5em;
            gap:1rem;
        }
     
     
 
  
  }
  
  @media(min-width:400px) and (max-width: 779px){
    .apartmentCard{
        height: calc(100vw);
      } 
      .overlay{
        height: calc(100vw);
    } 
    .overlay .title{
        width: calc(100%);
         }
    .image{
        height:calc(75vw);        
     }
     .buttonContainer{
        bottom: 1em;
    }
  }
  
  @media(min-width:780px) and (max-width: 1069px){    


    .apartmentCard{
        height: calc(50vw);
      }    
     
     .image{
         height: calc(50vw * (3/4));
    }
    .overlay{
        height: calc(50vw);
    }    
         
     .backdrop{
        width:calc(97%);
               
     }
     .buttonContainer{
        bottom: 1em;
    }
     .buttonLeft{
        padding: 1rem;
        height:3rem;
        font-size: 15px;
        font-weight:bold;
        
    }
    
        
    .buttonRight{
        padding: 1rem;
        height:3rem;
        font-size: 15px;
        font-weight:bold
    }
 
  }
  
  @media(min-width:1070px)  and (max-width: 1399px){
    
    .apartmentCard{
       height: calc(50vw);
     }
     
     .image{
        height: calc(50vw * (3/4));
    }
     
     
     .overlay{
         height: calc(50vw);
     }    
     .overlay .title{
         top: 1.2em;
         left: 0.3em;
          }
     
     .backdrop{
        width:calc(100%);
               
     }
     
        
     .buttonLeft{
        padding: 1rem;
        height:3.5rem;
        font-size: 20px;
        font-weight:bold;
    }
    .buttonRight{
        padding: 1rem;
        height:3.5rem;
        font-size: 20px;
        font-weight:bold
    }
    
  }
  

  @media(min-width:1400px)and (max-width: 1999px){
    .image{
            height: calc(33vw * (3/4));
         }
         .buttonContainer{
            bottom: 1em;
        }
  }

  @media(min-width:2000px){}
  
   
 
     
     