
/*hält den Abstand zu den oberen Elementen */
.outerWrapper{
    position: relative;
    /*top:220px; */
    width:100vw;
    padding-top:5rem;
    background-color: var(--background-medium-warm);
}

.quoteContainer{
    margin-left: var(--margin-left);
    padding-bottom: 2rem;
}

.quote{
    margin-top: 250px;
    font-size: var(--fontsize-h2Text);
    font-weight: var(--fontweight-h1Text);
    z-index:999;
}

.wrapper{
    position:relative;
    padding-top:1em;
    padding-right: 3.5rem;
  
 }

.wrapperSliderAndText {
    /*slider muss abgestimmt sein mit cafeModule.module.css*/
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap

}


.box1 {
    /* slider */
    display: flex;
    flex-direction: column;
    margin-left: var(--margin-left);
    justify-content: flex-end;
    width: 60vw;
    /* align-items: center;  */
}

.box2{
    position: relative;
    margin-left: calc(60vw); /* Center the slide horizontally */
    width:35vw;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    /* background-color:chartreuse;   */
    font-size: var(--fontsize-h3Text);
    font-weight: var(--fontweight-h3Text);

    }

.box3{
    width: 95vw;
    margin-left: var(--margin-left);
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom:3rem;
    font-size: var(--fontsize-h4Text);
    font-weight: var(--fontweight-h3Text);

    /*    background-color:rgb(204, 0, 255);   */ 
        }


@media(max-width:399px){   
    .quoteContainer{
        padding-left:1rem;
        padding-bottom: 2rem;
    }
    .quote{
        margin-top: 250px;
        padding-right:0;
        padding-left:4rem;
        padding-bottom: 3rem;}

    .wrapper{
        padding:0;
        width: 100%;
        display:flex;
        flex-direction: column;
    }

    
    .box1{  
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* padding-left: 0rem;
        margin-left: 0; */
        width: 100vw;
     }
     .box2 {
        margin-top: calc(65vw);
        margin-left:0;
        width: 100vw;
        /* justify-content: center; */
        align-items: center ; 
        font-size: var(--fontsize-h5Text);
        font-weight: var(--fontweight-h2Text);
        line-height: 70%;
    }
    
    .box3{
        width:90vw;
        font-size: var(--fontsize-h5Text);
        font-weight: var(--fontweight-h3Text);
    }

   
  
}
   
   
   @media(min-width:400px) and (max-width: 779px){    
    .wrapper{
        padding:0;
        display:flex;
        flex-direction: column;
    }

    .box1{  
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 0rem;
        margin-left: 0;
        width: 100vw;
     }
     .box2 {
        margin-top: calc(65vw);
        margin-left:0;
        width: 100vw;
        /* justify-content: center; */
        align-items: center ; 
        font-size: var(--fontsize-h5Text);
        font-weight: var(--fontweight-h2Text);
        line-height: 70%;
    }
    
    .box3{
        width:90vw;
        font-size: var(--fontsize-h5Text);
        font-weight: var(--fontweight-h3Text);
    }
    
   }
  
   @media(min-width:780px)  and (max-width: 1079px){
    .wrapper{
        padding:0;
        display:flex;
        flex-direction: column;
    }

    .box1{  
        padding-left: 0rem;
        width: 100vw;
     }
     .box2 {
        margin-top: calc(60vw);
        margin-left:0;
        width: 100vw;
        /* justify-content: center; */
        align-items: center ; 
        font-size: var(--fontsize-h5Text);
        font-weight: var(--fontweight-h2Text);
        line-height: 70%;
    }
    
    .box3{
        width:90vw;
        font-size: var(--fontsize-h5Text);
        font-weight: var(--fontweight-h3Text);
    }
    
   }
   
   @media(min-width:1080px)and (max-width: 1499px){  
    .box2 {
        font-size: var(--fontsize-h5Text);
        font-weight: var(--fontweight-h3Text);}
    
    .box3{
        width:90vw;
        font-size: var(--fontsize-h5Text);
        font-weight: var(--fontweight-h3Text);
    }
   }
   @media(min-width:1500px)and (max-width: 1999px){  }
   @media(min-width:2000px){  }
   
    
  
      
      