
/*hält den Abstand zu den oberen Elementen */
.outerWrapper{
    position: relative;
    /*top:220px; */
    padding-top:5rem;
    background-color: var(--background-medium-warm);
}

.quote{
    margin-top: 250px;
    padding-left:4rem;
    font-size: var(--fontsize-h2Text);
    font-weight: var(--fontweight-h1Text);
    z-index:999;
}



.wrapper{
   
    padding-top:4em;
    padding-left:3rem;
    padding-right:3rem;
    
    display:grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows:minmax(10rem, auto);
    grid-auto-flow:row;
    grid-column-gap: 1em;
    grid-row-gap: 5em;
    

    

}


.box1{
padding-left: 3.5rem;  
/*background-color:aqua;*/
grid-row: 1/3;

}

.box2{
    padding-left: 1.5rem;  
    /*background-color:chartreuse;   */
    grid-row: 1/2; 
    font-size: var(--fontsize-h3Text);
    font-weight: var(--fontweight-h3Text);

    }

.box3{
    align-self:end;
    justify-self: right;
    /*    background-color:rgb(204, 0, 255);   */ 
        }

.box4{
    grid-column:2;
    grid-row:2/4;
    /*background-color:rgb(213, 233, 32);    */
}

.box5{
    grid-column:1/2;
    /*background-color:red; */  
    align-self: center;
    justify-self: center;
    font-size: var(--fontsize-h1Text);
    font-weight: var(--fontweight-h2Text);  
}


@media(max-width:399px){   
    .wrapper{
        padding:0;
        grid-template-columns: 1fr ;
       /* grid-auto-rows:minmax(10rem, auto);*/
        grid-auto-columns: min-content;
        background-color:yellow;    
    
    }

    
    .box1, .box2, .box3, .box4, .box5 {
        padding-left:3rem;
        grid-column:1;
        grid-template-columns: 700px;
        grid-row:unset;
        align-self:unset;
        justify-self:unset;
        font-size: var(--fontsize-h5Text);
        font-weight: var(--fontweight-h2Text);
   }

   
  
}
   
   
   @media(min-width:400px) and (max-width: 779px){    
    .wrapper{
        padding:0;
        grid-template-columns: 1fr ;
       /* grid-auto-rows:minmax(10rem, auto);*/
        grid-auto-columns: min-content;
        /*background-color:green;    */
    
    }

    
    .box1, .box2, .box3, .box4, .box5{
        padding-left:3rem;
        grid-column:1;
        grid-template-columns: 700px;
        grid-row:unset;
        align-self:unset;
        justify-self:unset;
        font-size: var(--fontsize-h4Text);
        font-weight: var(--fontweight-h3Text);
   }
}
   
   @media(min-width:780px)  and (max-width: 1079px){
    .wrapper{
        padding:0;
        grid-template-columns: 1fr ;
       /* grid-auto-rows:minmax(10rem, auto);*/
        grid-auto-columns: min-content;
        /*background-color:red;    */
    
    }

    
    .box1, .box2, .box3, .box4, .box5{
        padding-left:3rem;
        grid-column:1;
        grid-template-columns: 700px;
        grid-row:unset;
        align-self:unset;
        justify-self:unset;
        font-size: var(--fontsize-h4Text);
        font-weight: var(--fontweight-h3Text);

    }
    
     
   }
   
   @media(min-width:1080px)and (max-width: 1999px){
   
  
   }
   @media(min-width:2000px){
   
     
   }
   
    
  
      
      