.footerContainer
{
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
top: 5rem;
/* height: 15rem; */
background-color: var( --background-dark);
}

.linkContainer
{
position: relative;
display: flex;
justify-content: center;
/* top: 10rem; */
height: 80px;
margin-top: 30px;
background-color: var( --background-dark);
z-index:1;
font-size: large;
/* display: none; */

}

.socialContainer
{
  position: relative;
  display:flex;
  justify-content: center;
  height: 30px;
  z-index: 1;
}

.image
{
  position: relative;
  display:flex;
  justify-content: center;
  
  /*  */
  padding-left:1rem;
  padding-right:1rem;
  height: auto;
  /* z-index:99; */
  /* display: none; */
}

.menu{
  position: relative;
  display:flex;
  justify-content: center;
  height: 30px;
  margin-block-start:0;
  margin-block-end: 0;
  z-index: 1;
}


.menu li{
  margin-left: 20px;
  list-style:none;
}

.menu li a{
text-decoration: none;
font-size: var(--fontsize-navigationMenu);
color: var(--footerFont-color);
}

.menu li a:hover{
color: var(--red);
}

.logoContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  z-index: 1;
  margin-top: 30px;
  bottom:80px
}

.logo{
  padding-left: 3rem;/* width: 250px; */
  /* height: auto; */
} 

.text{
  /* color: var(--footerFont-color); */
  font-size: var(--fontsize-h1Text);
  color: var(--red);
}

@media(max-width:399px){
  .text{
    margin-top:2rem;
    font-size: var(--fontsize-h3Text);
    color: var(--red);
  }
  .menu li{
    margin-right: 5vw;
  }
  
  
}
@media(max-width:1079px){
  .footerContainer,.linkContainer,.socialContainer,.menu,.logoContainer{
    flex-wrap: wrap;
  }
  .logoContainer{
    margin-top: 6rem;
  }
}


@media(min-width:1080px)  and (max-width: 1399px){}
@media(min-width:1400px)and (max-width: 1999px){}
@media(min-width:2000px){}