.test
{
position: relative;
top: 10rem;
height: 20rem;
background-color: var( --background-dark);
z-index:1;
font-size: large;
/* display: none; */

}

.image
{
    position: relative;
  width: 100%;
  height: auto;
  z-index:99;
  /* display: none; */
}