.gallerygridContainer{
margin-top:320px;
}

.wrapper{
    margin-top: 320px;
    display: grid;
    background-color: blue;
    height:500px;
    grid-template-columns: repeat(14), 1f;
    gap: 0.5em;
    align-items: center;
}

.box1ArrowLeft{
    grid-column:1;
    background-color: red;
    justify-self: center;
}

.box2BildLinks{
    /*position:relative;*/
    width: calc(30vw);
    height: calc(21vw);
    grid-column: 2 /6;
    justify-self: center;

    background-color: yellow;
}



.box3BildMitte{
    position:relative;
    width: calc(30vw);
    height: calc(21vw);
    grid-column: 6 / 10;
    justify-self: center;
    background-color: green;
}

.box4Bildrechts{
    position:relative;
    width: calc(30vw);
    height: calc(21vw);
    grid-column: 10 / 14;
    justify-self: center;
    background-color: rgb(243, 38, 174);
}

.image{
    width: calc(30vw);
    height: calc(21vw);
    object-fit: cover;
    object-position: center;
}
.image:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.box1ArrowRight{
    grid-column: 14;
    justify-self: center;
    background-color: red;
}
.largeImageContainer{
   
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    display:flex;
    justify-content: center;
    align-items: center;
}

.largeImage{
    display:flex;
    justify-content: center;
    align-items: center;
    width:1000px;
    height:100%;
    background-color: aliceblue;
    object-fit: contain;

}
/*nur das Grid*/
.gallerygridcontainer{
display: grid;
position:relative; /* wichtig für Fill der unterliegenden Image */ 
grid-template-columns: repeat(4, 1fr);
grid-column-gap: 0.1rem;
grid-row-gap: 0.1 rem;
justify-items: center; /*horizontal */
align-items: stretch; /*vertikal */
background: #eee;
margin: 10em 10em 10em 10px;
max-width: 70%;
}
.gridItem{
background: yellow;
padding: 20px;
margin: 2px;

}

.gridItemClicked{
background:green;
padding: 2px;
border: 5px solid rgb(7, 248, 228);

}

.red{
background: red;
padding: 5px;
}

.firstRun{
    background: blue;
}



