.gallerygridContainer{
margin-top:320px;
}

.test{
    position:absolute;
    margin-top: 700px;
    z-index:999;
    background-color: red;
    font-size: x-large;
}

.wrapper{
    position:relative;
    margin-top: 320px;
    display: grid;
    background-color: blue;
    
    /*height: calc(21vw);*/
    height: calc(31vw);
    grid-template-columns: repeat(14), 1f;
    
    gap: 0rem;
    align-items: center;
    max-width:80%;
    margin-left: calc(10vw);  
    /*display: none;*/
}

.box1ArrowLeft{
    grid-column:1;
    background-color: red;
    justify-self: center;
}

.box2BildLinks{
    position:relative;
    max-width: calc(23vw);
    height: calc(21vw);
    grid-column: 2 /6;
    align-self: center;
    justify-self: center;
    overflow: hidden;

    display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
    min-width: 50px;
 
    background-color: yellow;
}



.box3BildMitte{
    position:relative;
    max-width: calc(23vw);
    height: calc(21vw);
    grid-column: 6 / 10;
    justify-self: center;
    background-color: green;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    min-width: 50px;
}

.box4Bildrechts{
    position:relative;
    max-width: calc(23vw);
    height: calc(21vw);
    grid-column: 10 / 14;
    justify-self: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    min-width: 50px;
    background-color: rgb(243, 38, 174);
}

.modalOverlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8);
    z-index: 10;
    
}
.wrapperModal{
    position:absolute;  
    margin-top: 300px;
    display: grid;
    width: 100%;
    background-color:blueviolet;
    height: calc(33vw);
    grid-template-columns: repeat(5), 1f;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    z-index:999;
    /*display:none;   */

}


.boxModal{
    position:relative;
   /* top: -40px;*/
    width: calc(45vw);
    height: calc(33vw);
    grid-column: 2 / 4;
    align-self: center;
    justify-self: center;
    background-color: rgb(38, 243, 137);
}

.boxModalArrowLeft{
    /*position:relative;*/
    grid-column: 1;
    align-self: center;
    justify-self: center;
    background-color: rgb(38, 243, 137);
}
.boxModalArrowRight{
    position:relative;
    grid-column: 5;
    align-self: center;
    justify-self: center;
    background-color: rgb(38, 243, 137);
}

.boxModalCloseButton{
    position:absolute;
    grid-column: 3;
    grid-row: 1;
    top: calc(1vw);
    right: calc(2vw);
    
    font-size: var(--fontsize-h3Text);
    /*align-self: center;*/


}

.image{
    width: calc(30vw);
    height: calc(21vw);
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-in-out;

}
.image:hover{
    overflow:visible;
    cursor: pointer;
    transform: scale(1.1);
    z-index: 9;
    
}

.imageModal{
    width: calc(45vw);
    height: calc(33vw);
    max-width: 940px;
    max-height: 705px;
    /*object-fit: cover;
    object-position: center;*/
    
}

.box1ArrowRight{
    grid-column: 14;
    justify-self: center;
    background-color: red;
}
.largeImageContainer{
   
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    display:flex;
    justify-content: center;
    align-items: center;
}

.largeImage{
    display:flex;
    justify-content: center;
    align-items: center;
    width:1000px;
    height:100%;
    background-color: aliceblue;
    object-fit: contain;

}
/*nur das Grid*/
.gallerygridcontainer{
display: grid;
position:relative; /* wichtig für Fill der unterliegenden Image */ 
grid-template-columns: repeat(4, 1fr);
grid-column-gap: 0.1rem;
grid-row-gap: 0.1 rem;
justify-items: center; /*horizontal */
align-items: stretch; /*vertikal */
background: #eee;
margin: 10em 10em 10em 10px;
max-width: 70%;
}
.gridItem{
background: yellow;
padding: 20px;
margin: 2px;

}

.gridItemClicked{
background:green;
padding: 2px;
border: 5px solid rgb(7, 248, 228);

}

.red{
background: red;
padding: 5px;
}

.firstRun{
    background: blue;
}



