.heroSection{
  position: relative;
  
  width: 100%;
  top:100px; /*navigation:100px*/
  height:50vw;
  z-index:90;

 }
 
 .buttonContainer{
  position:absolute;
  margin-top:3.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
 

 }
.logo{
  position:relative;
  margin-left:2rem;
  z-index:99;
}
 
.bookButton{
  position:relative;
  margin-right:2rem;
  width: 10rem;
  height: 5rem;
  background-color: var(--red);
  border:1px solid var(--red);
  font-size: 20px;
  font-weight:bold;
  z-index:99;
  

}

.bookButton:hover{

  background-color: var(--red);
  border:1px solid var(--red);
  color: rgb(245, 245, 245);
  transition: all 0.5s ease;


}


.imageContainer {
  position: relative;
  top: 0px;
  width: 100%;
  /*height: 50vw;*/
  height: 50vw;
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 50vw;*/
  height: 50vw;
  /*object-fit: cover;*/
}

@media(max-width:399px){    
  
   .buttonContainer{
      margin-top:2rem;
   }
 
  .bookButton{
    margin-top:1.5rem;
    margin-right:1.8rem;
    width: 5rem;
    height: 2rem;
    font-size: 12px;
    font-weight:bold
  }

}

@media(min-width:400px) and (max-width: 779px){    
.heroSection{
 /* top:-56px;*/
}
   .buttonContainer{
      margin-top:2rem;
   }
  .bookButton{
    margin-top:0.5rem;
    width: 7rem;
    height: 2.5rem;
    font-size: 15px;
    font-weight:bold
  }
}

@media(min-width:780px)  and (max-width: 1079px){
  .buttonContainer{
      margin-top:2rem;
   }
 
  .bookButton{
    width: 10rem;
    height: 4rem;
    font-size: 20px;
    font-weight:bold
  }
}

@media(min-width:1080px)and (max-width: 1999px){
    .buttonContainer{
      margin-top:2rem;
   }
 
  .bookButton{
    width: 10rem;
    height: 4.5rem;
    font-size: 20px;
    font-weight:bold
  }
}
@media(min-width:2000px){
 
  .bookButton{
    width: 10rem;
    height: 5rem;
    font-size: 20px;
    font-weight:bold
  }
}