   
 /* *a* topabr und navbar werden nicht mehr verwendet */   
 .a, .a:hover{
    text-decoration:none;
    }
    
       
    .logoContainer{
        position: fixed;
        top: 0px;
        height: 50px;
        display: flex;
        justify-content: center;
        width: 100%;
        background: var(--background-light);
        
       z-index:99;
      
    }
    /* wird nicht mehr verwendet */
    .topBar{
          /* wird nicht mehr verwendet */
        display: flex;
        justify-content: space-between;
        position: fixed;
        height: 70px;
        width:100%;
        background: blue;
        z-index:90;
    }

    .topBarTransparent{
        /*top:0px;*/
        top: 50px;
        height:60px; 
        display: flex;
        justify-content: space-between;
        position: fixed;
        width:100%;
      
        background: var(--background-light);
        z-index:99;
    }
    
    .telefoneMailWrapper{
        display: flex;
        /*min-width: 400px;
        max-width: 400px; */
        padding-left: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        justify-content: flex-start;
    }
    
    .contact{
        display: flex;
        padding-left: 1rem;
        font-size: var(--fontsize-navigationText);
    }
    .contactSpacer{
        padding-left: 0.5rem;
    }
    
    .languages{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 2rem;
                
    }
    
    .languagesInRow{
        display: flex;
        justify-content:center;
        width: 110px;
        padding-left:0px;
        list-style-type:none;
       }
    
    
    
    .languageChoser{
        margin-left: 6px;
        padding: 0;          
    }
    
    .lineHorizontalContainer{
        position: fixed;
        top: 60px;
        width: 100%;
        
       z-index:91;
      
    }

    .lineHorizontal{
        
        /* align: right;   */
        position:relative;
        left: calc(70% - 2rem);
        width: 30%;
        border-top: 0px;
        border-bottom: 1px solid red; /* Set the color to red */
        height:1px;
       
        }    
    
    /* navbar */
    .navbar{
        /*wird nicht mehr verwendet */
        background :var(--background-light);
        position: fixed;
       top:60px;
       
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index:90; 
    }
    .navbarTransparent{
        background: var(--background-light);
        position: fixed;
        /*top:60px;*/
        top: 100px;
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index:99; 
    }
    
    .nav .a{
        color: #fff
    }
    
    .nav .a:hover{
            color: yellow; 
    }
    
    .logo{
        padding-left: 1rem;
         
    }
    
    .logoBurgersize{
        display: none;
    }
        
    
    .logo a:hover{
        color:#fff;
    }
    
    #navBurgerCheckbox{
        display: none;
    }
   
    
    .menu{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        padding-right: 2rem;

    }
    
  
    .menu li{
            margin-left: 20px;
            list-style:none;
            

    }

    .menu li a{
        text-decoration: none;
        font-size: var(--fontsize-navigationMenu);

    }
      
    .toggle{
        display: none;
        
    }
    
    
    /*>600px*/
  .visibility {  
    display: none;

  }
    
    

  
    
 @media screen and (max-width: 600px){
     /*   .nav{
            display: block;
            position: relative;
            padding: 15px 20px;
        }
    */
    .topBarTransparent{
        top:50px;
        height:60px; 
     
    }

    .navbarTransparent{
        top:110px;
    }
   
        .menu{
            margin-top: 15px;
            display:none;
        }

        .lineHorizontalContainer{
            display:none;
        }

        .logo
        {display:none;}
      
        .logoBurgersize{
            display: block;
            padding-left: 1.5rem;
            font-size: var(--fontsize-navigationMenu);
        }   
        .toggle{
            display: block;
            padding-right: 2rem;
         
            
        }
       .checkboxInvisible{
            display: none;
        }
   
.visibility {  
    display: block;

  }
   @keyframes menueSlide {
    from {left: -150px;}
    to {left: 5px;}
        }
  @keyframes menueSlideOut {
    from {left: 5px;}
    to {left: -200px;}
        }

    .burgerMenue {   
        display:block;
        position: fixed;
        top: 120px;
        background-color: rgb(240, 175, 175);
        width: 200px;
        left: 5px;
        height: 200px;
        animation-name:menueSlide;
        animation-duration:1.5s;
        z-index:99;
        font-size: var(--fontsize-navigationMenu);
        }
        
     .burgerMenueInvisible{
        /*display: block;*/
        position: fixed;
        top: 120px;
        background-color: rgb(240, 175, 175);
        width: 200px;
        left: -200px;
        height: 200px;
        animation-name:menueSlideOut;
        animation-duration:1.5s;
        /*display:none;*/
    }
    .burgerMenue ul {
        list-style-type: none;
    }

     .burgerMenueInvisible ul {
        list-style-type: none;
    }
    .burgerMenue >li {
        padding: 5px;
        margin: 2px;
        border: 1px;
        border-color: black;
    }

    .burgerMenue li :hover{
        background-color:blue;
    }

    .burgerMenue ul a{
        text-decoration: none;
    }
    .burgerMenueInvisible ul a{
        text-decoration: none;
    }
   
}

    
    