   
 /* *a* topabr und navbar werden nicht mehr verwendet */   
 .a, .a:hover{
    text-decoration:none;
    }
    
       
   

    .topBarTransparent{
        position: fixed;
        top:0;
        padding-top:10px;
        height:40px; 
        display: flex;
        justify-content: space-between;
        width:100%;
        background: var(--background-light);
        z-index:99;
    }
    
    .telefoneMailWrapper{
        display: flex;
        /*min-width: 400px;
        max-width: 400px; */
        padding-left: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        justify-content: flex-start;
    }
    
    .contact{
        display: flex;
        padding-left: 1rem;
      
        font-size: var(--fontsize-navigationContact);
    }

    .contact a{
        text-decoration: none;
        color: var( --font-color);
    }

    .contact a:hover{
        color: var( --red);
    }

    .contactSpacer{
        padding-left: 0.5rem;
    }
    
    .languages{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
                
    }
    
    .languagesInRow{
        display: flex;
        justify-content:center;
        width: 110px;
        padding-left:0px;
        list-style-type:none;
       }
    
    
    
    .languageChoser{
        margin-left: 6px;
        padding: 0;    
        font-weight: var(--fontweight-h2Text);      
    }
    .languageChoser:hover{
        cursor: pointer;
        color: var(--red);
    }
    
    
    .navbarTransparent{
        background: var(--background-light);
        position: fixed;
        top: 50px;
        height: 50px; /* 50px + 50px = gesamthöhe Nav 100*/
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
       
    }
     
    #navBurgerCheckbox{
        display: none;
    }
   .burgerMenueItems{
        display:none;
    }
    
    .menu{
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 2rem;
        
    }
    
  
    .menu li{
            margin-left: 20px;
            list-style:none;
     }

    .menu li a{
        text-decoration: none;
        font-size: var(--fontsize-navigationMenu);
        color: var(--font-color);
    }

    .menu li a:hover{
        color: var(--red);
    }
      
    .toggle{
        display: none;
    }
    
    /*>600px*/
  .visibility {  
    display: none;
  }
    
    
 @media screen and (max-width: 600px){
    
    .contact{
        display: flex;
        padding-left: 1rem;
        font-size: var(--fontsize-navigationContact);
    }

        .menu{
            display:none;
        }
       
              
        .toggle{
            /*position:absolute;*/
            display: flex;
            width:95%;
            justify-content: flex-end;
            /*padding-right: 2rem;*/
            /*position:fixed;*/
            top:80px;
           
            margin-right:1rem;  
            z-index:999; 
        }
        /*schließen Button*/
       .close{
            /*position:fixed;*/
            margin-right:1rem;
            top:80px;
           /* top:65px;*/
            z-index:99;
       }   
            /*left:85%;*/
         /*   z-index:99;*
        }  */    

       .checkboxInvisible{
            display: none;
        }
   
.visibility {  
    display: block;
    height:  0px;
  }
   @keyframes menueSlide {
    from {left: -150px;}
    to {left: 0px;}
        }
  @keyframes menueSlideOut {
    from {left: 0px;}
    to {left: -600px;}
        }

    .burgerMenue {   
        /*display:block;*/
        position: fixed;
        top: 60px;
        background-color: var( --background-dark);
        width: 100%;
        height:100%;
        animation-name:menueSlide;
        animation-duration:1.5s;
        z-index:99;
        font-size: var(--fontsize-navigationMenu);
       
       
        }

        .burgerMenueItems{
        animation-name:menueSlide;
        display: flex;
        
    }
     
    
        
     .burgerMenueSlideOut{
       
        position: fixed;
        top: 60px;
        background-color: var( --background-dark);
        width: 100%;
        height:100%;
        left: -600px;
        font-size: var(--fontsize-navigationMenu);
        animation-name:menueSlideOut;
        animation-duration:2.5s;
        z-index:99;
        /*display:none;*/
              
    }

    .burgerMenueSlideOut .toggle{
        display:none;
    }

    .burgerMenueInvisible{
        display:none;
    }
    .burgerMenue ul {
        list-style-type: none;
        padding-top: 3rem;
        
 
    }

     .burgerMenueSlideOut ul {
        position:absolute;
        top:92px;
        list-style-type: none;
        padding-top: 5px;
    }
    .burgerMenue li {

        padding: 5px;
        margin: 22px;
        font-size: var(--fontsize-navigationMenu);
        

    }

    .burgerMenueSlideOut li {
        padding: 5px;
        margin: 22px;
        font-size: var(--fontsize-navigationMenu);
    }
    .burgerMenue li :hover{
        background-color:var(--red);
    }

    

    .burgerMenue ul a{
        text-decoration: none;
        color: white
    }
    .burgerMenueSlideOut ul a{
        text-decoration: none;
        color: white;
    }
   
}

    
@media screen and (max-width: 850px){
    
   .contact{
      
       font-size: var(---fontsize-h3Text);
   }
}