.container { 
   /* margin-top: 1rem; */
   margin-left: 1rem;
   margin-right: 1rem;	 
}

.season{
   display: flex;
   justify-content: center;
   font-weight: var(--fontweight-h3Text);
   font-size: var(--fontsize-h5Text);
   margin-top: 0.2rem;
 
} 

.priceContainer{
   display:flex;
   /*height: calc(31vw);*/
   flex-direction: row;   
   flex-wrap:wrap; 
   gap: 0.3rem;
   justify-content: center;
   align-items: center;
}

.cell {
    padding: 0.5rem;
    background-color: var( --background-pricetable-1);
    border-color: var(----background-dark);
    border-width: 1px;
    border-style: solid;
    
 }

 .cell:nth-child(even){
    background-color: var( --background-pricetable-2);
 }

 .date{
    display: flex;
    justify-content: center;
    color:var(--background-dark);
    font-weight: var(--fontweight-h3Text);
    font-size: var(--fontsize-h5Text);
    padding-bottom: 0.3rem;
 }

 .price{
    display: flex;
    justify-content: center;
    color:var(--background-dark);
    font-weight: var(--fontweight-h2Text);
    font-size: var(--fontsize-h5Text);
    /* padding-bottom: 1rem; */
 }

@media(max-width:399px){  
   .season{
      font-weight: var(--fontweight-h4Text);
      font-size: var(--fontsize-h4Text);
  }
  .date{
   font-weight: var(--fontweight-h4Text);
   font-size: var(--fontsize-h4Text);
  }

.price{
   font-weight: var(--fontweight-h3Text);
   font-size: var(--fontsize-h4Text);
}
}
@media(min-width:400px) and (max-width: 779px){    
   .season{
      
      font-weight: var(--fontweight-h3Text);
      font-size: var(--fontsize-h4Text);
  }
  .date{
   font-weight: var(--fontweight-h3Text);
   font-size: var(--fontsize-h5Text);
  }

.price{
   font-weight: var(--fontweight-h3Text);
   font-size: var(--fontsize-h5Text);
}
}
@media(min-width:780px)  and (max-width: 1079px){
   .season{
      font-weight: var(--fontweight-h3Text);
      font-size: var(--fontsize-h4Text);
  }
  .date{
   font-weight: var(--fontweight-h3Text);
   font-size: var(--fontsize-h5Text);
  }

.price{
   font-weight: var(--fontweight-h3Text);
   font-size: var(--fontsize-h5Text);
}
}
@media(min-width:1080px)  and (max-width: 1399px){     
.season{
   font-weight: var(--fontweight-h3Text);
   font-size: var(--fontsize-h4Text);
}
.date{
font-weight: var(--fontweight-h3Text);
font-size: var(--fontsize-h5Text);
}

.price{
font-weight: var(--fontweight-h3Text);
font-size: var(--fontsize-h5Text);
}  }
@media(min-width:1400px)and (max-width: 1999px){}
@media(min-width:2000px){}