

.outerWrapper{
    position: relative;
    top:120px;     
    padding-top:5rem;
    
}

.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    
}

.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    background-color: var(--background-light);
    font-size: var(--fontsize-h2Text);
    font-weight: var(--fontweight-h2Text);
    
}

.box1{
    font-size: var(--fontsize-h4Text);
    font-weight: var(--fontweight-h1Text);
    border-bottom: 1px solid black;
}

.box2, .box3,.box4, .box5, .box6, .box7, .box8, .box9, .box10,.box11, .box12,.box13,.box14,.box15,.box16 {
    font-size: var(--fontsize-h4Text);
    font-weight: var(--fontweight-h4Text);
    border-bottom: 1px solid black;
}

.map{
    padding-top:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    padding-bottom: 5rem;
}

.mapSmall{
    padding-top:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    padding-bottom: 5rem;
    display:none;
}

@media(max-width:399px){   
    .h1{
        font-size: var(--fontsize-h4Text);
        font-weight: var(--fontweight-h5Text); 
        padding-bottom: 1rem;
        width:100%;
    }

    .wrapper{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 4rem;
        
    }
.box1{
    font-size: var(--fontsize-h5Text);
    font-weight: var(--fontweight-h2Text);
}

   .box2, .box3,.box4, .box5, .box6, .box7, .box8, .box9, .box10,.box11, .box12,.box13,.box14,.box15,.box16 {
    font-size: var(--fontsize-h5Text);
    font-weight: var(--fontweight-h4Text);
   }

   .map{
    display:none;
   }
   .mapSmall{
    display:block;
   }

}
      
     
   
   
   @media(min-width:400px) and (max-width: 779px){  

    .h1{
        font-size: var(--fontsize-h3Text);
        font-weight: var(--fontweight-h4Text); 
        padding-bottom: 1rem;
        width:100%;
    }

    .wrapper{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 4rem;
        
    }
.box1{
    font-size: var(--fontsize-h4Text);
    font-weight: var(--fontweight-h2Text);
}

   .box2, .box3,.box4, .box5, .box6, .box7, .box8, .box9, .box10,.box11, .box12,.box13,.box14,.box15,.box16 {
    font-size: var(--fontsize-h4Text);
    font-weight: var(--fontweight-h4Text);
   }

   .map{
    display:none;
   }
   .mapSmall{
    display:block;
   }

}
   
   @media(min-width:780px)  and (max-width: 1079px){}
  
  
   
   @media(min-width:1080px)and (max-width: 1999px){

   }
   @media(min-width:2000px){
     
   }