.container{
    margin-top: 250px;
     width:90%;
    display: flex;
    justify-content: center;
}

.h1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    margin-top:10rem;
     font-size: var(--fontsize-h1Text);
     font-weight: var(--fontweight-h1Text);
}

.headline{
    display: flex;
    justify-content: center;
    /* width:90%; */
    margin-top: 5rem;
    /* margin-bottom: 5rem; */
    font-size: var(--fontsize-h2Text);
    font-weight: var(--fontweight-h3Text);
}

.text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    /* max-width: 70%; */
 
    font-size: var(--fontsize-h5Text);
    font-weight: var(--fontweight-h4Text);
   
}

@media(max-width:399px){    .h1{ 
    font-size: var(--fontsize-h4Text);
     font-weight: var(--fontweight-h2Text);
}    
.headline{
    font-size: var(--fontsize-h4Text);
    font-weight: var(--fontweight-h2Text);

   }

   .text{
    font-size: var(--fontsize-h6Text);
    font-weight: var(--fontweight-h4Text);
   }

}
@media(min-width:400px) and (max-width: 779px){ 
    .h1{ 
    font-size: var(--fontsize-h3Text);
     font-weight: var(--fontweight-h2Text);
}
.headline{
    font-size: var(--fontsize-h4Text);
    font-weight: var(--fontweight-h2Text);

   }
}
@media(min-width:780px)  and (max-width: 1079px){}
@media(min-width:1080px)  and (max-width: 1399px){    }
@media(min-width:1400px)and (max-width: 1999px){}
@media(min-width:2000px){}