.burgerMenue {
display:block;
position: fixed;
top: 120px;
background-color: rgb(221, 218, 170);
height: 200px;
width: 200px;
left: -20px;
list-style: none;

transition-delay: 500ms;
/*transition-property: left;*/
transition-duration: 3s;
animation-iteration-count:1;
transform: translateX(200px);
/*transition: transform 2s ease-in-out ; */

}

 .burgerMenue.clicked{
    /*transform: translateX(100px);
    transition: transform 2s ease-in ; */
    color: blue;
}

.burgerMenue:hover{
transform: translateY(50px);
transition-duration: 5s;
}

.burgerMenueInvisible{
    display:none;
}