.switcher {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 7em;
    background-color: burlywood;
  }
  
.switcherButton{
display: flex;
flex-direction: row; 
justify-content: center; /*Text mittig horizontal*/
align-items: center;/*Text mittig vertikal im Button*/
background-color: rgb(248, 248, 252);
font-size: 1rem;
color:brown;
text-decoration: none !important;
width: 5em;
height: 1.5em;
border: 1px solid black;
padding: 1px;
margin: 5px ;
}

  .switcherbutton:link {
    text-decoration: none;
  }
  .switcherbutton:active {
    text-decoration: none;
  }