   
 /*top-bar */   
 .a, .a:hover{
    text-decoration:none;
    }
    
    .topBar{
        display: flex;
        justify-content: space-between;
        position: fixed;
        height: 45px;
        width:100%;
        background: blue;
    }

    .topBarTransparent{
        display: flex;
        justify-content: space-between;
        position: fixed;
        width:100%;
        height: 45px;
        background: rgb(200, 255, 0);
    }
    
    .telefoneMailWrapper{
        display: flex;
        /*min-width: 400px;
        max-width: 400px; */
        padding-left: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        justify-content: flex-start;
    }
    
    .contact{
        display: flex;
        padding-left: 1rem;
    }
    .contactSpacer{
        padding-left: 8px;
    }
    
    .languages{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
        background: red;
        
    }
    
    .languagesInRow{
        display: flex;
        justify-content:center;
        width: 80px;
        padding-left:0px;
        list-style-type:none;
       }
    
    
    
    .languageChoser{
        margin-left: 5px;
        padding: 0;          
    }
    
    
    /* navbar */
    .navbar{
        background :lime;
        position: fixed;
        top:60px;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .navbarTransparent{
        background: red; 
        position: fixed;
        top:60px;
        height: 50px;
          width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav .a{
        color: #fff
    }
    
    .nav .a:hover{
            color: yellow; 
    }
    
    .logo{
        padding-left: 1rem;
         
    }
    
    /*.logo a{
        display:flex;
        align-items: center;
        font-size: 50px;
    }*/
    
    .logo a:hover{
        color:#fff;
    }
    
    #navBurgerCheckbox{
        display: none;
    }
   
    
    .menu{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        list-style:none;
        padding-right: 2rem;
    }
    
  
    .menu li{
            margin-left: 20px;
    }

      
    .toggle{
        display: none;
        
    }
    
    
    /*>600px*/
  .visibility {  
    display: none;

  }
    
    

  
    
 @media screen and (max-width: 600px){
     /*   .nav{
            display: block;
            position: relative;
            padding: 15px 20px;
        }
    */
        .menu{
            margin-top: 15px;
            display:none;
        }
      /*  .menu.active{
            display: block;
        }
    */
        .toggle{
            display: block;
            padding-right: 20px;
            background-color: blue;;
            
        }
       .checkboxInvisible{
            display: none;
        }
   
.visibility {  
    display: block;

  }
   @keyframes menueSlide {
    from {left: -150px;}
    to {left: 5px;}
        }
  @keyframes menueSlideOut {
    from {left: 5px;}
    to {left: -200px;}
        }

    .burgerMenue {   
        display:block;
        position: fixed;
        top: 120px;
        background-color: rgb(240, 175, 175);
        width: 200px;
        left: 5px;
        height: 200px;
        animation-name:menueSlide;
        animation-duration:1.5s;
        }
        
     .burgerMenueInvisible{
        /*display: block;*/
        position: fixed;
        top: 120px;
        background-color: rgb(240, 175, 175);
        width: 200px;
        left: -200px;
        height: 200px;
        animation-name:menueSlideOut;
        animation-duration:1.5s;
        /*display:none;*/
    }
    .burgerMenue ul {
        list-style-type: none;
    }

     .burgerMenueInvisible ul {
        list-style-type: none;
    }
    .burgerMenue >li {
        padding: 5px;
        margin: 2px;
        border: 1px;
        border-color: black;
    }

    .burgerMenue li :hover{
        background-color:blue;
    }

    .burgerMenue ul a{
        text-decoration: none;
    }
    .burgerMenueInvisible ul a{
        text-decoration: none;
    }
   
}

    
    