
   
  .spacerHead{
    position: relative;
    top:1rem; /*direkt unmter Hero*/
    margin-top: 0px;
    padding-top: 0px ;
  }
  
  .h1{
    position:relative;
    top: 2.5rem; /*Abstand zum Hero*/

    padding-left: var(--padding-left);
    font-size: var(--fontsize-hero);
    font-weight: var(--fontweight-h1Text);
    color: var(--red);
  }

  .textTeaserContainer{
   display:flex;
   justify-content: flex-end;
   align-items: flex-start;
   
   margin-top: 0px;
   margin-bottom: 8rem;
   padding-top: 0px ;
 }
   
  .teaser{
   padding-bottom: 5rem;
   margin-right: 2rem;
   width:70%;
   font-size: var(--fontsize-h1Text);
   font-weight: var(--fontweight-h3Text);
 
 }

 .outerWrapper{
    width: 100%;
    background-color: var(--background-medium);
    background-image: url('/bg_groessteDatei_interlacing.png');

 }
 
.innerWrapper {
  margin-left:10vw; 
  /* margin-right:20rem; */
  padding-top:5rem;
  padding-bottom:5rem;
  /* max-width: 80%; Added max-width property */
  
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: minmax(100px, auto);
  row-gap: 1rem; /* Adjust the gap size as needed */
  column-gap: 1rem; /* Adjust the gap size as needed */
 /* max-width:700px;  */
}


 .image{
     width:600px;
     height:auto;
 }

 


.textContainer{
  /* background-color: antiquewhite; */

}
 .h2{
    font-size: var(--fontsize-h2Text);
    font-weight: var(--fontweight-h2Text);
    color: var(--red);

 }
 .text{
    font-size: var(--fontsize-normalText);
    font-weight: var(--fontweight-normalText);
    color: var(--font-color);
    padding-top: calc(1vw);
    width:100vw;
    padding-bottom: 2rem;
    
 }

 .button{
  
    height:3rem;
    width: 300px;
    background-color: var(--background-medium);
    /* border:1px solid var(--background-medium);; */
    font-size: 20px;
    font-weight:bold;
    transition: background-color 0.5s ease;
    box-sizing: border-box;
}

.button:hover{
    background-color: rgb(245, 8, 8);
    /* border:1px solid rgb(245, 8, 8); */
    color: var(--background-medium);
 
}

 
 .box1{
   grid-column: 1 /2;
   grid-row: 1 / 2; /* Updated: Set row to 1 / 1 */
   /* background-color: green; */
   padding: 1rem;
   border-radius: 10px;
   }
 .box2{
    grid-column: 2/3 ;
    grid-row: 1 / 2;
    /* background-color: blue; */
    padding: 1rem;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center; /* Center vertically */
   
 }

 .box2 .h2{
    align-self:center;
 }

 .box2 .text{
    max-width: 35vw;
   }

   .box3{
    grid-column: 1/2 ;
    grid-row: 2 / 3;
    /* background-color: blue; */
    padding: 1rem;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center; /* Center vertically */
   
 }

 .box3 .h2{
    align-self:center;
 }

 .box3 .text{
    max-width: 35vw;
   }

    .box4{
   grid-column: 2 /3;
   grid-row: 2 / 3; /* Updated: Set row to 1 / 1 */
   /* background-color: green; */
   padding: 1rem;
   border-radius: 10px;
   }

   
    .box5{
   grid-column: 1 /2;
   grid-row: 3 / 4; /* Updated: Set row to 1 / 1 */
   /* background-color: green; */
   padding: 1rem;
   border-radius: 10px;
   }

   .box6{
    grid-column: 2/3 ;
    grid-row: 3 / 4;
    /* background-color: blue; */
    padding: 1rem;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center; /* Center vertically */
   
 }

 .box6 .h2{
    align-self:center;
 }

 .box6 .text{
    max-width: 35vw;
   }

   .historyContainer{
    margin-top:8vw;
    margin-left:10vw; 
    margin-right:10vw;
    padding-top:5rem;
    padding-bottom:5rem;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-around;
    
   }

   .historyImage{
    width: 25vw;
    margin-right: 20px;
   }

   .historyText{
    width: 35 vw;
   
   }

